:root {
    --dark-blue: #222222;
    --pink: #F1E4E6; 
    --dark-pink: #F16D7F;
    --brown: #474040;
    --light-gray: #9F9F9F;
    --dark-gray: #5D5D5D;
    --very-light-gray: #F8F8F8;
}

body {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.container {
    width: 1138px;
    margin: 0 auto;
}

.header {
    background-color: var(--dark-blue);
    position: relative;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 75px;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__navigation {
    display: none;
    position: absolute;
    width: 232px;
    height: 764px;
    background-color: #FFFFFF;
    right: 0;
    padding: 37px 34px;
    box-sizing: border-box;
    margin: 22px 0 0;
}

.menu-title-size {
    text-transform: uppercase;
    font-size: 14px;
}

.header__navigation-menu {
    margin: 24px 0;
}

.title-margin {
    margin: 20px 0 0;
}

.header__navigation-title {
    color: var(--dark-pink);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}

.header__navigation-list {
    text-decoration: none;
    margin: 0 0 12px 0;
    color: var(--dark-gray);
}

.list-margin {
    margin: 12px 0 0 22px;
}

.header__button {
    background-color: transparent;
    border: none;
    margin: 0 34px 0 0;
}

.header__button:hover +.header__navigation,
.header__button:focus +.header__navigation {
    display: block;
}

/* затемнение блока сделать как-нибудь */
/* .header__button:hover + main>.brand {
    opacity: 0.5;
} */

.header__navigation:hover {
    display: block;
}

.header__person-link {
    margin: 0 34px 0 0;
}

.header__basket {
    position: relative;
}

.header__basket:before {
    content: '';
    position: absolute;
    width: 19px;
    height: 19px;
    background-image: url(../img/header/items.svg);
    background-size: 19px 19px;
    right: -9px;
    top: -18px;
}

.brand {
    display: flex;
    margin: 0 0 64px;
}

.brand__title {
    position: relative;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__title:before {
    content: '';
    position: absolute;
    background-color: var(--dark-pink);
    width: 12px;
    height: 92px;
    left: -28px;
}

.brand__title-wrapper {
    padding: 0 0 0 92px;
    flex-grow: 1;
    background-color: var(--pink);
    display: flex;
    align-items: center;
}

.brand__subtitle {
    display: block;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
    text-align: left;
}

.brand__subtitle-pink {
    color: var(--dark-pink);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.offers__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.offers__item {
    color: white;
    background-color: var(--brown);
    width: 360px;
    min-height: 260px;
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offers__item--women {
    background-image: url(../img/offers/for_women.jpg);
}

.offers__item--men {
    background-image: url(../img/offers/for_men.jpg);
}

.offers__item--kids {
    background-image: url(../img/offers/for_kids.jpg);
}

.offers__item--accesories {
    background-image: url(../img/offers/accesories.jpg);
    width: 100%;
    margin: 0;
    min-height: 180px;
}

.offers__title {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}

.offers__subtitle {
    color: var(--dark-pink);
    text-transform: uppercase;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.products {
    margin-top: 97px;
}

.products__title {
    color: var(--dark-blue);
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.products__subtitle {
    margin: 6px 0 48px;
    color: var(--light-gray);
    font-size: 14px;
    text-align: center;
}

.products__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products__card {
    background-color: var(--very-light-gray);
    width: 360px;
    height: 581px;
    margin:0 0 30px;
    position: relative;
}

/* кнопка не залезает в блок .products__card */

.card-button {
    /* display: none; */
    position: absolute;
}

.products__card:hover +.products__card>.card-button {
    display: block;
}

.card-title {
    text-transform: uppercase;
    font-size: 13px;
    margin: 24px 0 13px 18px;
}

.card-subtitle {
    color: var(--dark-gray);
    font-weight: 300;
    line-height: 17px;
    margin: 0 0 18px 17px;
}

.card-price {
    color: var(--dark-pink);
    margin: 0 0 18px 17px;

}

.products__button {
    position: relative;
    left: 42%;
    margin: 19px 0 96px;
    border: 1px solid #FF6A6A;
    width: 211px;
    height: 47px;
    background-color: white;
    color: var(--dark-pink);
}

.advantages-block {
    background-color: #222224;
}

.advantages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 341px;
}

.advantages__card {
    width: 360px;
    text-align: center;
}

.advantages-title {
    color: #FBFBFB;
    margin: 28px 0 16px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.advantages-subtitle {
    color: #FBFBFB;
    font-size: 14px;
    font-weight: 300;
}

.footer-top {
    background-image: url(../img/footer/footer_back.jpg);
    background-size: cover;
    height: 448px;
    display: flex;
    justify-content: space-around;
}

.face {
    width: 360px;
    margin: 87px 0 0;
    text-align: center;
}

.face__text {
    font-size: 20px;
    margin: 32px 0 0 0;
}

.face__text--i {
    font-size: 20px;
    font-style: italic;
}

.form {
    margin: 150px 0 0;
    text-align: center;
    text-transform: uppercase;
}

.input {
border-top-left-radius: 50px;
border-bottom-left-radius: 50px;
height: 49px;
width: 256px;
background-color: #E1E1E1;
border: none;
position: relative;
}

::-webkit-input-placeholder {
    position: absolute;
    margin: 17px 23px;
}

.form__button {
border-top-right-radius: 50px;
border-bottom-right-radius: 50px;
border: none;
background-color: var(--dark-pink);
color: white;
width: 100px;
}

form {
    display: flex;
    margin: 32px auto;
}

.subscribe {
    font-size: 24px;
    line-height: 40px;
}

.promotion {
    font-size: 18px;
    font-weight: 400;
}

.bottom {
    background-color: #222224;
    color: white;
}

.bottom__wrap {
    display: flex;
    height: 79px;
    justify-content: space-between;
    align-items: center;
}

.bottom__wrap-contacts {
    display: flex;
    width: 148px;
}

.reg-title {
    background-color: #F8F3F4;
    height: 149px;
    text-transform: uppercase;
    color: var(--dark-pink);
    font-size: 24px;
    display: flex;
    align-items: center;
}

.registration {
    display: flex;
}

.reg-form__items {
    display: flex;
    flex-direction: column;
}