@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 71%;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@media (max-width: 1599px) {
  .container {
    width: 96%;
  }
}

@media (max-width: 767px) {
  .container {
    width: 92%;
  }
}

.header {
  background-color: #222222;
  position: relative;
  /* затемнение блока сделать как-нибудь */
  /* .header__button:hover + main>.brand {
        opacity: 0.5;
    } */
}

.header__wrapper {
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header .header__button {
  background-color: transparent;
  border: none;
  margin: 0 34px 0 0;
}

.header .header__button:hover + .header__navigation,
.header .header__button:focus + .header__navigation {
  display: block;
}

.header .header__navigation:hover {
  display: block;
}

.header .header__person-link {
  margin: 0 34px 0 0;
}

.header .header__basket {
  position: relative;
}

.header .header__basket:before {
  content: '';
  position: absolute;
  width: 19px;
  height: 19px;
  background-image: url(../img/header/items.svg);
  background-size: 19px 19px;
  right: -9px;
  top: -18px;
}

@media (max-width: 1599px) {
  .header__logo {
    margin: 0 41px 0 16px;
  }
  .header .header__button {
    margin: 0 25px 0 0;
  }
  .header .header__person-link {
    margin: 0 25px 0 0;
  }
}

@media (max-width: 767px) {
  .header__logo {
    margin: 0 41px 0 0px;
  }
  .header .header__button {
    margin: 0;
  }
  .header .header__person-link {
    display: none;
  }
  .header .header__basket {
    display: none;
  }
}

.header__navigation {
  display: none;
  width: 232px;
  height: 764px;
  position: absolute;
  background-color: #FFFFFF;
  right: 0;
  padding: 37px 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 22px 0 0;
}

.header__navigation .menu-title-size {
  text-transform: uppercase;
  font-size: 14px;
}

.header__navigation .header__navigation-menu {
  margin: 24px 0;
}

.header__navigation .title-margin {
  margin: 20px 0 0;
}

.header__navigation .header__navigation-title {
  color: #F16D7F;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

.header__navigation .header__navigation-list {
  text-decoration: none;
  margin: 0 0 12px 0;
  color: #5D5D5D;
}

.header__navigation .list-margin {
  margin: 12px 0 0 22px;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 64px;
}

@media (max-width: 1599px) {
  .brand {
    margin: 0 0 20px;
  }
}

@media (max-width: 767px) {
  .brand {
    height: 363px;
    margin: 0 0 64px;
  }
}

.brand .brand__image {
  width: 50%;
  height: auto;
}

@media (max-width: 767px) {
  .brand .brand__image {
    display: none;
  }
}

.brand .brand__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  position: relative;
  text-transform: uppercase;
}

@media (max-width: 1599px) {
  .brand .brand__title {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .brand .brand__title {
    font-size: 37px;
    line-height: 44px;
    font-weight: 700;
    font-style: normal;
  }
}

.brand .brand__subtitle {
  font-size: 37px;
  line-height: 44px;
  font-weight: 700;
  font-style: normal;
  display: block;
  text-align: left;
}

@media (max-width: 1599px) {
  .brand .brand__subtitle {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .brand .brand__subtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}

.brand .brand__title:before {
  content: '';
  position: absolute;
  background-color: #F16D7F;
  width: 12px;
  height: 92px;
  left: -28px;
}

@media (max-width: 767px) {
  .brand .brand__title:before {
    width: 12px;
    height: 61px;
  }
}

.brand .brand__title-wrapper {
  padding: 0 0 0 92px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1599px) {
  .brand .brand__title-wrapper {
    padding: 0 0 0 68px;
  }
}

@media (max-width: 767px) {
  .brand .brand__title-wrapper {
    padding: 0 0 0 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.brand .brand__subtitle-pink {
  color: #F16D7F;
}

.offers .offers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offers .offers__item {
  color: white;
  background-color: #474040;
  background-size: cover;
  width: 32%;
  min-height: 260px;
  margin: 0 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1599px) {
  .offers .offers__item {
    min-height: 168px;
    margin: 0 0 20px;
  }
}

@media (max-width: 767px) {
  .offers .offers__item {
    width: 100%;
    min-height: 258px;
    margin: 0 0 32px;
  }
}

.offers .offers__item--women {
  background-image: url(../img/offers/for_women.jpg);
}

.offers .offers__item--men {
  background-image: url(../img/offers/for_men.jpg);
}

.offers .offers__item--kids {
  background-image: url(../img/offers/for_kids.jpg);
}

.offers .offers__item--accesories {
  background-image: url(../img/offers/accesories.jpg);
  width: 100%;
  margin: 0;
  min-height: 180px;
}

@media (max-width: 1599px) {
  .offers .offers__item--accesories {
    min-height: 116px;
  }
}

@media (max-width: 767px) {
  .offers .offers__item--accesories {
    min-height: 111px;
  }
}

.offers .offers__title {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
}

.offers .offers__subtitle {
  color: #F16D7F;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.products {
  margin-top: 97px;
  /* кнопка не залезает в блок .products__card */
}

@media (max-width: 1599px) {
  .products {
    margin-top: 155px;
  }
}

@media (max-width: 767px) {
  .products {
    width: 96%;
  }
}

.products .products__title {
  color: #222222;
  font-size: 30px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.products .products__subtitle {
  margin: 6px 0 48px;
  color: #9F9F9F;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 1599px) {
  .products .products__subtitle {
    margin: 3px 0 73px;
  }
}

.products .products__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1599px) {
  .products .products__cards {
    width: 735px;
  }
}

@media (max-width: 767px) {
  .products .products__cards {
    width: 359px;
  }
}

.products .products__card {
  background-color: #F8F8F8;
  width: 360px;
  height: 581px;
  margin: 0 0 30px;
  position: relative;
}

@media (max-width: 1599px) {
  .products .products__card {
    margin: 0 0 17px;
  }
}

.products .card-button {
  display: none;
  position: absolute;
}

.products .products__card:hover + .products__card > .card-button {
  display: block;
}

.products .card-title {
  text-transform: uppercase;
  font-size: 13px;
  margin: 24px 0 13px 18px;
}

.products .card-subtitle {
  font-size: 16px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #5D5D5D;
  margin: 0 0 18px 17px;
}

.products .card-price {
  color: #F16D7F;
  margin: 0 0 18px 17px;
}

.products .products__button {
  width: 211px;
  height: 47px;
  position: relative;
  left: 42%;
  margin: 19px 0 96px;
  border: 1px solid #FF6A6A;
  background-color: white;
  color: #F16D7F;
}

@media (max-width: 1599px) {
  .products .products__button {
    left: 36%;
    margin: 16px 0 65px;
  }
}

@media (max-width: 767px) {
  .products .products__button {
    left: 22%;
    margin: 24px 0 97px;
  }
}

.advantages {
  background-color: #222224;
}

.advantages .advantages-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 341px;
}

@media (max-width: 1599px) {
  .advantages .advantages-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 610px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.advantages .advantages__card {
  width: 360px;
  text-align: center;
}

.advantages .advantages-title {
  color: #FBFBFB;
  margin: 28px 0 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
}

.advantages .advantages-subtitle {
  color: #FBFBFB;
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
}

.footer-top {
  background-image: url(../img/footer/footer_back.jpg);
  background-size: cover;
  height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 1599px) {
  .footer-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 693px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  .footer-top {
    min-height: 550px;
  }
}

.face {
  width: 360px;
  margin: 87px 0 0;
  text-align: center;
}

@media (max-width: 1599px) {
  .face {
    margin: 54px 0 0;
  }
}

.face__text {
  font-size: 20px;
  margin: 32px 0 0 0;
}

.face__text--i {
  font-size: 20px;
  line-height: 19px;
  font-weight: 400;
  font-style: italic;
}

.form {
  margin: 150px 0 0;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 1599px) {
  .form {
    margin: 48px 0 108px;
  }
}

.input {
  width: 256px;
  height: 49px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #E1E1E1;
  border: none;
  position: relative;
}

::-webkit-input-placeholder {
  position: absolute;
  margin: 17px 23px;
}

.form__button {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: none;
  background-color: #F16D7F;
  color: white;
  width: 100px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 32px auto;
}

.subscribe {
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
}

.promotion {
  font-size: 18px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
}

.bottom {
  background-color: #222224;
  color: white;
}

.bottom__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 79px;
}

@media (max-width: 767px) {
  .bottom__wrap {
    min-height: 143px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.bottom__wrap-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 148px;
}

@media (max-width: 767px) {
  .bottom__wrap-contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 32px;
  }
}

.reg-title {
  font-size: 24px;
  line-height: 149px;
  font-weight: 400;
  font-style: normal;
  background-color: #F8F3F4;
  text-transform: uppercase;
  color: #F16D7F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reg-form__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */