.brand {
    display: flex;
    margin: 0 0 64px;

    .brand__title {
        @include font(48px, 58px, 900);
        position: relative;
        text-transform: uppercase;
    }
    
    .brand__title:before {
        content: '';
        position: absolute;
        background-color: $dark-pink;
        width: 12px;
        height: 92px;
        left: -28px;
    }
    
    .brand__title-wrapper {
        padding: 0 0 0 92px;
        flex-grow: 1;
        background-color: $pink;
        display: flex;
        align-items: center;
    }
    
    .brand__subtitle {
        @include font(37px, 44px, 700);
        display: block;
        text-align: left;
    }
    
    .brand__subtitle-pink {
        color: $dark-pink;
    }
}
