.header__navigation {
    display: none;
    @include block-size(232px, 764px);
    position: absolute;
    background-color: #FFFFFF;
    right: 0;
    padding: 37px 34px;
    box-sizing: border-box;
    margin: 22px 0 0;

    .menu-title-size {
        text-transform: uppercase;
        font-size: 14px;
    }
    
    .header__navigation-menu {
        margin: 24px 0;
    }
    
    .title-margin {
        margin: 20px 0 0;
    }
    
    .header__navigation-title {
        color: $dark-pink;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
    }
    
    .header__navigation-list {
        text-decoration: none;
        margin: 0 0 12px 0;
        color: $dark-gray;
    }
    
    .list-margin {
        margin: 12px 0 0 22px;
    }
}

