.title-links {
    display: flex;
    align-items: center;

    &__link {
        text-decoration: none;
        @include font(14px, 19px, 300);
        color: #636363;

        &__new {
            @include font(14px, 19px, 700);
            text-decoration: none;
            color: $dark-pink;
        }
    }
}

.nav-flex {
    display: flex;
    justify-content: space-between;
}

.margin-0 {
    margin: 0;
}

.carousel-flex {
    display: flex;
    justify-content: center;
}

.height-777 {
    height: 777px;
    background-color: #F7F7F7;
    position: relative;
    z-index: 0;
}

.width-597 {
    width: 597px;
    height: auto;
    margin: 11px 0 42px;
}

.carousel-btn {
    background-color: rgba(42, 42, 42, 0.15);
    @include block-size(47px, 47px);
}

.btn-start {
    justify-content: flex-start;
}

.btn-end {
    justify-content: flex-end;
}

.brand .brand__title:before {
    content: '';
    position: absolute;
    background-color: #F16D7F;
    width: 12px;
    height: 92px;
    left: -28px;
}

.prod-info {
    margin: -65px 14% 129px;
    position: relative;
    z-index: 1;
    background-color: white;
    @include block-size(1141px, 601px);
    border: 1px solid #EAEAEA;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        text-transform: uppercase;
        @include font(14px, 17px, 300);
        color: $dark-pink;
        margin: 64px 0 27px;
    }

    .prod-info__title:after {
        content: '';
        position: absolute;
        background-color: #F16D7F;
        @include block-size(63px, 3px);
        top: 93px;
        right: 539px;
    }

    &__subtitle {
        text-transform: uppercase;
        @include font(18px, 22px, 300);
        color: #4D4D4D;
        margin: 0 0 48px;
    }

    &__text {
        @include block-size(555px, 51px);
        @include font(14px, 17px, 300);
        color: #5E5E5E;
        margin: 0 0 32px;
        text-align: center;
    }

    &__price {
        @include font(24px, 29px, 300);
        color: $dark-pink;
        margin: 0 0 130px;
    }

    .prod-info__price:after {
        content: '';
        position: absolute;
        // background-color: #EAEAEA;
        @include block-size(641px, 0px);
        border: 1px solid #EAEAEA;
        top: 357px;
        right: 251px;
    }

    &__links-wrap {
        display: flex;      
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        @include font(14px, 17px, 400);
        color: #6F6E6E;
        margin: 0 9px 0 23px;
    }

    &__btn {
        @include block-size(211px, 47px);
        border: 1px solid #FF6A6A;      
        padding: 13px 0 0 23px;
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);

        &__link {
            text-decoration: none;
            @include font(16px, 19px, 400);
            color: $dark-pink;
            margin: 0 0 0 23px;
        }
    }
}

.margin-bottom-98 {
    margin-bottom: 98px;
}

.z-index-3 {
    z-index: 3;
}